node_modules
/dist
build
.env
.env.*
.sessions
/target
.npmrc
.turbo
*/dist/**/*

# Package dist directories
packages/node-sdk/dist/
packages/sdk-core/dist/
packages/sdk-rs/packages/web/dist/
packages/sdk-rs/packages/node/dist/
packages/sdk-rs/.profile
packages/sdk-rs/.zshenv
